
/* ************************************ */
/* Layout to force app-like view        */
/* ************************************ */

:root{
	--colour-background: rgba(255,255,255);
	--colour-blue-gradient-start: #27AEEF;
	--colour-blue-gradient-end: #427AD0;

	--colour-chat-accent: #F2FF62;
	--colour-chat-you: hsl(0, 0%, 99%);

	--splash-transition-duration: 0.6s;
	--splash-transition-ease: cubic-bezier(.17,.9,.51,.93);
}

/* ************************************ */
/* Layout to force app-like view        */
/* ************************************ */

*{
	cursor: default;
}
html, body{
	margin: 0;
	min-height: 100%;
	width: 100%;
	padding:0;
	overflow: hidden;
}

a{
	color:blue;
}
body{
	background-color: rgb(255,255,255);
	color: #111111;
	font-family: "Poppins", sans-serif;
}

/* ************************************ */
/* Main page layout and setup           */
/* ************************************ */

.wrapper{
	position: absolute;
	inset: 0;
}
.wrapper::before{
	content: "";
	position: absolute;
	width: 412px;
	height: 812px;
	left: 0px;
	top: 103px;

	background: linear-gradient(176.63deg, #27AEEF 0%, #427AD0 100%);
	transition: all var(--splash-transition-duration) var(--splash-transition-ease);
}
.logo{
	position: absolute;
	width: 64px;
	height: 90px;
	left: 40px;
	top: 57px;
	background: url('../assets/images/logo-white.svg') no-repeat center center / contain;
	margin: 0;
	transition: all var(--splash-transition-duration) var(--splash-transition-ease);
}


/* ************************************ */
/* Splash screen variant                */
/* ************************************ */

.splash::before{
	height: 504px;
	top: 411px;
}
.splash .logo{
	width: 97px;
	height: 137px;
	left: 155px;
	top: 338px;
}


/* ************************************ */
/* Chat boxes                           */
/* ************************************ */

.conversation-wrapper{
	position: absolute;
	inset: 20px;
	top: 150px;
}

.conversation{
	inset:0;
	position: absolute;
	display: flex;
	flex-direction: column;

	--mask-height: 40px;
	--mask-image-content: linear-gradient(
		to bottom,
		transparent,
		black var(--mask-height),
		black calc(100% - var(--mask-height)),
		transparent
  );
  mask-image: var(--mask-image-content), linear-gradient(black, black);
  mask-size: 100% var(--mask-height), 100% calc(100% - var(--mask-height));
  mask-repeat: no-repeat, no-repeat;
  mask-position: 0 0, 0 var(--mask-height);

  overflow-y: scroll;
  scrollbar-width: none;
}
.conversation::-webkit-scrollbar{width:0px;}

.first-conversation-marker{margin-top:20px;}

.message{
	max-width: 80%;
	padding: 18px 22px;
	font-size: 20px;
	line-height: 28px;
	margin-top: 20px;
	border-radius: 15px;
	z-index: 20;
	position: relative;
	transition: opacity 0.6s ease-out, transform 0.3s ease-out;
}
.message:first-of-type{margin-top: 0px;}

.message:not(.show){
	height:0; padding:0; margin:0;
	opacity:0;
/*	transform: translateY(20px);*/
	overflow: hidden;
/*	display: none;*/
}

.message.loading{
	display: flex;
	justify-content: space-between;
	width: 50px;
}
.message.loading .dot{
	width: 7px;
	height: 7px;
	position: relative;
	display: block;
	margin: 3px;
	animation: dot-grow 1s infinite linear;
	background: url('../assets/images/black-dot.svg') no-repeat center center / contain;
}
.message.loading .dot:nth-of-type(1){animation-delay: -0.5s;}
.message.loading .dot:nth-of-type(2){animation-delay: -0.25s;}

.message.loaded{display:none;}

@keyframes dot-grow {
	0% {transform:scale(1);}
	16.6667% {  transform:scale(1.5);}
	33.3333% {  transform:scale(1);}
	100% {  transform:scale(1);}
}


.walter{
	background: var(--colour-chat-accent);
	align-self: flex-start;
	border-bottom-left-radius: 0px;
}
.you{
	background: var(--colour-chat-you);
	align-self: flex-end;
	border-bottom-right-radius: 0px;
	line-height: 32px;
}
.fillable{
	background: rgba(235, 235, 235, 0.8);
	color: #E7E7E7;
	display: inline-block;
	line-height: 26px;
	margin: 2px 0;
	padding: 2px 8px;
	border-bottom: 2px solid black;
	margin-bottom: 0px;
	color: transparent;
}
.fillable.filled{
	background: var(--colour-chat-accent);
	color: black;
	margin-bottom: 2px;
	border: none;
	border-radius: 5px;
}
.fillable.selected{
	border-bottom: 0px;
	margin-bottom: 2px;
	border-radius: 5px;
}
.fillable.selected.filled{
	background: rgba(235, 235, 235, 0.8);
}

.you.show + .you.show, .walter.show:not(.loading) + .walter.show{margin-top:8px;}

.selection-box{
	position: absolute;
	border: 3px solid rgb(42,42,42);
	background: white;
	left: 150px;
	top: 380px;
	display: flex;
	flex-direction: column;
	padding: 14px;
	border-radius:10px;
	z-index: 501;
}
.selection-box::before{
	content:"";
	width: 39px;
	height: 11px;
	background: url('../assets/images/triangle-top.svg') no-repeat center center / contain;
	position: absolute;
	left: calc(50% - 19.5px);
	top: -11px;
}
.selection-box .option{
	background: var(--colour-chat-accent);
	border-radius: 5px;
	margin: 4px 0;
	padding: 3px 12px;
	font-size: 24px;
	align-self: flex-start;
	display: block;
}

.selection-box:not(.show){display:none;}

.selection-cancel{
	position: absolute;
	inset: 0;
	display:none;
	z-index: 500;
}
.selection-cancel.show{display: block;}